apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "afrimart.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
